// ** HEADER
.detail-header {
  display: flex;
  position: sticky;
  top: 64px;
  align-items: center;
  justify-content: space-between;
  z-index: 11;
  width: 712px;
  height: 40px;
  background-color: #fff;
  padding: 0 16px;
  box-sizing: border-box;

  &__left {
    display: flex;
    justify-content: center;

    
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 440px;
    font-family: 'Roboto', 'Noto Sans KR', 'Noto Sans JP', 'Noto Sans SC',
      sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #222;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .btnbox {
    display: flex;
  }
}

// ** MAIN
.detail-main {
  margin-bottom: 120px;

  // Main-top
  &__img-box {
    padding: 0 16px;
  }

  &__img {
    width: 680px;
    height: 240px;
    border-radius: 4px;
    object-fit: cover;
    object-position: 50% 50%;
    box-sizing: border-box;
    vertical-align: middle;
  }
}



.detail-info {
  margin-top: 11px;
  margin-left: 16px;
  box-sizing: border-box;
  width: 680px;
  border-bottom: 1px solid #eef1f4;

  &__title-box {
    display: flex;

  }

  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    font-size: 24px;
    letter-spacing: normal;
    color: #222;
    font-family: 'Roboto', 'Noto Sans KR', 'Noto Sans JP', 'Noto Sans SC',
      sans-serif;
    word-wrap: break-word;
    margin: 0 0 16px;
    cursor: text;
    white-space: pre-line;
  }

  &__link-box {
    margin-bottom: 16px;
    display: inline-flex;
    align-items: center;
    position: relative;
    cursor: default;
  }

  &__tags {
    margin-bottom: 4px;
  }
}


// highlights
.detail-highlights {
  padding: 32px 16px;

  .highlights--no-highlights {
    padding: 32px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -.4px;
    text-align: center;
    color: #969aa2;
    margin: 64px 0;
  }
}

// ** view-original
.view-original {
  margin: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 680px;
  height: 48px;
  border-radius: 8px;
  margin-bottom: 40px;
  border: 1px solid #dde1e7;
  background-color: #fff;

  .view-original__title {
    color: #787d86;
    font-family: 'Montserrat', 'Noto Sans KR', 'Noto Sans JP', 'Noto Sans SC',
      sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.35px;
    text-align: center;
  }

  &:hover {
    background-color: #f6f8fa;
    cursor: pointer;
  }
}

.detail-description {
  box-sizing: border-box;
  padding: 0 16px;

  &__item {
    display: flex;
    margin-bottom: 24px;
    box-sizing: border-box;
  }

  &__title {
    box-sizing: border-box;
    width: 114px;
    font-family: 'Montserrat', 'Noto Sans KR', 'Noto Sans JP', 'Noto Sans SC',
      sans-serif;
    font-size: 14px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.35px;
    color: #969aa2;
  }

  &__content {
    box-sizing: border-box;
    width: 566px;
    font-family: 'Roboto', 'Noto Sans KR', 'Noto Sans JP', 'Noto Sans SC',
      sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #555;
  }

}