// ** HEADER
.detail-common__header {
  display: flex;
  position: sticky;
  top: 64px;
  align-items: center;
  justify-content: space-between;
  z-index: 11;
  width: 712px;
  height: 40px;
  background-color: #fff;
  padding: 0 16px;
  box-sizing: border-box;

  .detail-common__header__left {
    display: flex;
    justify-content: center;

    .detail-title {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 440px;
      font-family: 'Roboto', 'Noto Sans KR', 'Noto Sans JP', 'Noto Sans SC',
        sans-serif;
      font-size: 16px;
      font-weight: 700;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #222;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }
  .btnbox {
    display: flex;
  }
}

.detail-common {
  margin-bottom: 120px;
}

// ** MAIN
// Main-top
.detail-top__main-img__box {
  padding: 0 16px;

  .detail-top__main-img__box__img {
    width: 680px;
    height: 240px;
    border-radius: 4px;
    object-fit: cover;
    object-position: 50% 50%;
    box-sizing: border-box;
    vertical-align: middle;
  }
}

.detail-top-container {
  margin-top: 11px;
  padding: 0 16px;
  box-sizing: border-box;
  width: 680px;
  border-bottom: 1px solid #eef1f4;

  .detail-top__title-box {
    display: flex;

    .detail-top__title {
      overflow: hidden;
      text-overflow: ellipsis;
      box-sizing: border-box;
      font-weight: 700;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      font-size: 24px;
      letter-spacing: normal;
      color: #222;
      font-family: 'Roboto', 'Noto Sans KR', 'Noto Sans JP', 'Noto Sans SC',
        sans-serif;
      word-wrap: break-word;
      margin: 0 0 16px;
      cursor: text;
      white-space: pre-line;
    }
  }

  .detail-top__link-line {
    margin-bottom: 16px;
    display: inline-flex;
    align-items: center;
    position: relative;
    cursor: default;
  }
}

.detail-for-tagcontainer {
  margin-bottom: 4px;
}

// Main-content
.detail-content-container {
  padding: 32px 16px;

  .no-highlights {}
}

// ** view-original
.view-original {
  margin: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 680px;
  height: 48px;
  border-radius: 8px;
  margin-bottom: 40px;
  border: 1px solid #dde1e7;
  background-color: #fff;

  .view-original-btn {
    color: #787d86;
    font-family: 'Montserrat', 'Noto Sans KR', 'Noto Sans JP', 'Noto Sans SC',
      sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.35px;
    text-align: center;
  }

  &:hover {
    background-color: #f6f8fa;
    cursor: pointer;
  }
}

.detail-description-items {
  box-sizing: border-box;
  padding: 0 16px;

  .detail-description__item {
    display: flex;
    margin-bottom: 24px;
    box-sizing: border-box;

    .description-content__title {
      box-sizing: border-box;
      width: 114px;
      font-family: 'Montserrat', 'Noto Sans KR', 'Noto Sans JP', 'Noto Sans SC',
        sans-serif;
      font-size: 14px;
      font-weight: 700;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.35px;
      color: #969aa2;
    }

    .description-content__content {
      box-sizing: border-box;
      width: 566px;
      font-family: 'Roboto', 'Noto Sans KR', 'Noto Sans JP', 'Noto Sans SC',
        sans-serif;
      font-size: 16px;
      font-weight: 400;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #555;
    }
  }
}