.summeryitem {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  padding: 24px 16px 0;
  width: 712px;
  position: relative;

  // * Main Part
  &__main {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    overflow-x: hidden;

    .summeryitem-content {
      &__title {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.33;
        color: #222;
        margin: 0 0 8px;
      }

      &__highlight {
        font-size: 14px;
        // display: box;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        font-weight: 400;
        line-height: 1.43;
        letter-spacing: normal;
        color: #555;
        word-wrap: break-word;

        &--foryou {
          margin-top: 16px;
        }
  
        &--myHi {
          margin-bottom: 16px;
          overflow-x: hidden;
        }
      }

    }

  }

  // summeritem Img
  &__img-box {
    height: 107px;
  }

  &__img {
    flex-shrink: 0;
    width: 96px;
    height: 96px;
    border-radius: 4px;
    margin-left: 24px;
    object-fit: cover;
    // flex-shrink: 0;
  }

  // * Footer Part
  .summeryitem__footer {
    height: 48px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 680px;
    padding-bottom: 16px;

  }
  .summaryitem__footer-container{
    width: 100%;
    display: inline-flex;
    align-items: center;
    position: relative;
    justify-content: space-between;

  }


  // * Bottom linkbox
  .summaryitem__linkbox {
    display: flex;
  }

  // * Bottom Right Part(Buttons)
  .summaryitem__btn-box {
    display: flex;
  }

  .summaryitem__btn {
    display: flex;
    align-items: center;
  }

  .border-seperator {
    border-bottom: 1px solid #eef1f4;
  }
}

// MY HIGHLIGHT
// Summary main


// MyHi check
.summeryitem__main--myhi {
  .hover-check--myhi {
    opacity: 0;
    font-size: 19px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30px;
    right: 22px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    z-index: 0;
    cursor: pointer;
    background-color: #b0b4bd;
  }

  &:hover {
    .hover-check--myhi {
      opacity: 1;
    }
  }
}

